:root {
  --clr-accent-100: hsla(38, 100%, 95%, 1);
  --clr-accent-200: hsla(122, 100%, 95%, 1);
  --clr-accent-300: hsla(287, 54%, 93%, 1);
  --clr-accent-400: hsla(7, 61%, 82%, 1);
  --clr-accent-500: hsla(0, 0%, 93%, 1);

  --clr-hover-100: hsla(0, 0%, 90%, 0.5);

  --clr-primary-100: hsla(0, 0%, 100%, 1);

  --clr-btn-100: hsla(0, 0%, 32%, 1);
  --clr-btn-200: hsla(0, 0%, 0%, 1);

  --greadent-title: linear-gradient(
    90deg,
    #fff6e7 0%,
    #e5ffe6 29.5%,
    #f3e4f7 60.5%,
    #edbbb4 98%
  );

  --ff-main: "Figtree", " sans-serif";

  --fw-title: 600;
  --fw-sub-heading: 700;
  --fw-label: 500;
  --fw-body: 400;

  --fs-primary-heading: 2.625; /* 42 */
  --fs-secondary-heading: 1.25; /* 20 */
  --fs-footer: 1.125; /* 18 */
  --fs-body: 0.875; /* 14 */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Header */
header {
  background-image: var(--greadent-title);
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  gap: 0.4rem;
}

.header__container > img {
  width: 2.5rem;
  height: 2.5rem;
}

/* Body */
main {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;

  background-color: var(--clr-primary-100);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.main__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__header-info > div {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.labelWether {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.main__header-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__header-action > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.addList {
  flex-grow: 1;
  max-width: 300px;
}
.addList > button {
  width: 100%;
  text-align: start;
  padding: 0.2rem 0.8rem;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--clr-btn-200);
  color: var(--clr-primary-100);
  font-weight: var(--fw-label);
}
.addList > button:hover {
  background-color: var(--clr-btn-100);
  cursor: pointer;
}

/* Search */
.search {
  flex-grow: 1;
  text-align: center;
}
.search input {
  width: 90%;
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #f7f7f7;
  color: var(--clr-btn-200);
}
.search input:focus {
  outline: none;
}

/* Transform */
.transform {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.transform > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.transform > div > button {
  padding: 0.2rem 0.8rem;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--clr-btn-200);
  color: var(--clr-primary-100);
  font-weight: var(--fw-label);
}
.transform > div > button:hover {
  background-color: var(--clr-btn-100);
  cursor: pointer;
}
/* Transform sort */
.transform-sort {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
/* Transform filter */
.transform-filter {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

/* Lis container  */
.main__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

/* All list style */
.main__body-card {
  background-color: var(--clr-accent-100);
  border-radius: 0.5rem;
  padding: 1rem;
  max-height: fit-content;
}
/* Individual list color */
.main__body-card-color-0 {
  background-color: var(--clr-accent-100);
}
.main__body-card-color-1 {
  background-color: var(--clr-accent-200);
}
.main__body-card-color-2 {
  background-color: var(--clr-accent-300);
}
.main__body-card-color-3 {
  background-color: var(--clr-accent-400);
}
.main__body-card-color-4 {
  background-color: var(--clr-accent-500);
}

/* Card header */
.card__header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* title text */
.card__header-titleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.card__header-title:hover {
  cursor: pointer;
  color: var(--clr-btn-100);
}

.card__header-trash {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.card__header-trash:hover {
  border-radius: 0.2rem;
  background-image: url("../images/trash.svg");
  background-size: cover;
  display: inline-block;
}

/* Date */
.card__header-dateContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.card__header-dateIcon {
  width: 1.2rem;
  height: 1.2rem;
}
.card__header-dateIcon > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.card__header-date {
  font-size: calc(var(--fs-secondary-heading) * 1rem);
  font-weight: var(--fw-label);
  color: var(--clr-btn-100);
  cursor: pointer;
}
.card__header-dateIcon:hover,
.card__header-date:hover {
  color: var(--clr-btn-200);
}

/* Card body */

.card__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}
.card__body > div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
.card__body > div:hover {
  cursor: pointer;
  background-color: var(--clr-hover-100);
}

.card__status {
  background-image: url("../images/checkbox.svg");
  background-size: cover;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.completed .card__status {
  background-image: url("../images/checkbox_checked.svg");
}
.completed .card__item-title {
  text-decoration: line-through;
}

.card__body > div:hover .card__remove {
  background-image: url("../images/cross.svg");
  background-size: cover;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  margin-left: auto;
  margin-right: 0.5rem;
}

.card__remove:hover {
  cursor: pointer;
  border: 0.2px solid var(--clr-btn-200);
  border-radius: 0.2rem;
}

/* card footer */
.card__footer {
  width: 100%;
}

.card__footer > input {
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.2rem;

  outline: none;
  border: none;
}

.inline-edit-list-title,
.inline-edit-task-title,
.inline-edit-list-date {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

/* Footer */

footer {
  background-color: var(--clr-accent-500);
  padding: 1.5rem;
  text-align: center;
}

/* Utility classes */
.clr-accent-100 {
  background-color: var(--clr-accent-100);
}
.clr-accent-200 {
  background-color: var(--clr-accent-200);
}
.clr-accent-300 {
  background-color: var(--clr-accent-300);
}
.clr-accent-400 {
  background-color: var(--clr-accent-400);
}
.clr-accent-500 {
  background-color: var(--clr-accent-500);
}

.clr-hover-100 {
  background-color: var(--clr-hover-100);
}

.clr-primary-100 {
  background-color: var(--clr-primary-100);
}

.clr-btn-100 {
  background-color: var(--clr-btn-100);
}
.clr-btn-200 {
  background-color: var(--clr-btn-200);
}

.ff-main {
  font-family: var(--ff-main);
}

.greadent-title {
  background-image: var(--greadent-title);
}

.fw-title {
  font-weight: var(--fw-title);
}
.fw-sub-heading {
  font-weight: var(--fw-sub-heading);
}
.fw-label {
  font-weight: var(--fw-label);
}
.fw-body {
  font-weight: var(--fw-body);
}

.fs-primary-heading {
  font-size: calc(var(--fs-primary-heading) * 1rem);
}
.fs-secondary-heading {
  font-size: calc(var(--fs-secondary-heading) * 1rem);
}
.fs-footer {
  font-size: calc(var(--fs-footer) * 1rem);
}
.fs-body {
  font-size: calc(var(--fs-body) * 1rem);
}
.fs-footer {
  font-size: 1.125rem;
}
.fs-body {
  font-size: 0.875rem;
}

.popup-date-picker {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0.2em;
  border: 1px solid #ccc;
  background: #fff;
  padding: 0.2em 0.5em;
  font-size: 1rem;
  z-index: 1000;
}
